@(message: String)
@main("UR NEWS -- Pagina Admin",message) {

    <main>
		<div id="overlay"></div>
        <!-- Noticias Destacadas -->
		<!--<section class="main-news-container">-->
		<section class="main-news">
		    <img src="imagen.jpg" alt="Título de la noticia">
		    <div class="main-news-text">
		        <h1>Título de la Noticia Principal</h1>
		        <p>Breve descripción de la noticia principal.</p>
		        <a href="enlace-a-la-noticia" target="_blank">Leer más</a>
		    </div>
		</section>
		<!--</section>-->



        <!-- Noticias Secundarias -->
		
        <section class="secondary-news">
			<div class="title-section">
								            <h2>Noticias Secundarias</h2>
			</div>
            <div class="secondary-news-container">
                <div id="noticia-secundaria-1" class="secondary-news-item"></div>
                <div id="noticia-secundaria-2" class="secondary-news-item"></div>
            </div>
        </section>

        <!-- Más Noticias -->
        <section>
			<div class="title-section">
											            <h2>Más Noticias</h2>
						</div>
            
            <div id="noticias-lista" class="news-grid"></div>
        </section>

		
		   

	</main>

   
}
