@(message: String)

@main("UR NEWS -- Pagina Principal",message) {

    <main>
		<div id="overlay"></div>
        <!-- Noticias Destacadas -->
		<!--<section class="main-news-container">-->
		<section class="main-news">
		    <img src="@routes.Assets.versioned("images/imagenplaceholder.png")" alt="Título de la noticia">
		    <div class="main-news-text">
		        <h1>Título de la Noticia Principal</h1>
		        <p>Breve descripción de la noticia principal.</p>
		        <a href="enlace-a-la-noticia" target="_blank">Leer más</a>
		    </div>
		</section>
		<!--</section>-->



        <!-- Noticias Secundarias -->
		
        <section class="secondary-news">
			<div class="title-section">
								            <h2>Noticias Secundarias</h2>
			</div>
            <div class="secondary-news-container">
                <div id="noticia-secundaria-1" class="secondary-news-item"></div>
                <div id="noticia-secundaria-2" class="secondary-news-item"></div>
            </div>
        </section>

        <!-- Más Noticias -->
        <section>
			<div class="title-section">
											            <h2>Más Noticias</h2>
						</div>
            
            <div id="noticias-lista" class="news-grid"></div>
        </section>

        <!-- Artículos Propios -->
		<section>
		    <h2>Artículos Propios</h2>
		    <ul id="articulos-lista"></ul>
		</section>

		<!-- Formulario para agregar artículos -->
		<section>
		    <h2>Agregar un Artículo</h2>
		    <form id="form-articulo">
		        <input type="text" id="titulo" placeholder="Título" required>
		        <input type="text" id="autor" placeholder="Autor" required>
		        <input type="text" id="categoria" placeholder="Categoría" required>
		        <textarea id="contenido" placeholder="Contenido" required></textarea>
				<input type="text" id="imagen" placeholder="URL de Imagen">
		        <button type="submit">Publicar</button>
		    </form>
		</section>

	</main>

    <script src="@routes.Assets.versioned("javascripts/main.js")"></script>
}
