@(message: String, successMsg: String = null, errorMsg: String = null)

@bannerAuth("UR NEWS -- Login", message) {
	<main>
		@if(errorMsg != null) {
		           <div class="alert alert-error">
		               @errorMsg
		           </div>
		           <script>console.error("Error: @errorMsg");</script>
		       }
		       
		       @if(successMsg != null) {
		           <div class="alert alert-success">
		               @successMsg
		           </div>
		           <script>console.log("Éxito: @successMsg");</script>
		       }
	        <div class="login-wrapper">
	            
	            <div class="login-form">
	                <h2 class="login-title">INICIA SESIÓN</h2>
	                
	                <form action="@routes.AuthController.autenticar()" method="POST">
	                    <div class="form-group">
	                        <input type="text" name="username" class="form-control" 
	                               placeholder="Usuario o Email" required>
	                    </div>
	                    
	                    <div class="form-group">
	                        <input type="password" name="password" class="form-control" 
	                               placeholder="Contraseña" required minlength="8">
	                        <span class="password-hint">Utiliza mínimo 8 caracteres</span>
	                    </div>
	                    
	                    <button type="submit" class="login-btn">INGRESAR</button>
	                    
	                    <div class="login-links">
	                        
	                        <a href="@routes.AuthController.register()">Si no tienes usuario, regístrate</a>
	                    </div>
	                
	                <div class="register-btn-container">
						<button onclick="window.location.href='@routes.AuthController.register().absoluteURL(request)'; return false;" 
						           class="register-btn">
						       Regístrate
						   </button>
	                </div>
	                </form>
	            </div>
	        </div>
	    </main>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function(e) {
            e.preventDefault();
            // Validación adicional antes de enviar
            if(this.checkValidity()) {
                this.submit(); // Envía el formulario si es válido
            }
        });
		
    </script>
}