@(title: String, message: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/noticias.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/seccion-articulos.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/dashboard.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/LOGO.png")">
       
    </head>
    <body>
        <!-- Header reutilizable -->
        <header>
            <div class="container">
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
				<a href="@routes.HomeController.index()" class="logo-link">
								    <div class="logo">
								        <img src="/assets/images/LOGO.png" alt="Logo">
								        <h1>@message</h1>
								    </div>
								</a> 
                <div class="buttons">
                    <a href="@routes.AuthController.login()" class="btn btn-primary">INICIAR SESIÓN</a>
                    <button class="btn btn-secondary">SUSCRÍBETE</button>
                </div>
            </div>
        </header>
        <nav class="nav-bar">	
            <button class="nav-button">NOTICIAS LOCALES</button>
            <button class="nav-button">NOTICIAS NACIONALES</button>
            <button class="nav-button">ARTÍCULOS</button>
            <button class="nav-button">MILENIO</button>
        </nav>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
            <p>Descubre las últimas noticias</p>
            <div class="search-container">
                <input type="text" id="searchInput" class="search-bar" placeholder="Buscar..." oninput="filtrarResultados()" />
            </div>
            <a href="#">Noticias Locales</a>
            <a href="#">Noticias Nacionales</a>
            <a href="#">Artículos</a>
            <a href="#">Preguntas Frecuentes</a>
        </div>

        <!-- Contenido dinámico de la página -->
	
        @content
		<script src="@routes.Assets.versioned("javascripts/main.js")"></script>
		<script>
			document.getElementById("overlay").addEventListener("click", closeNav);

				function openNav() {
				    document.getElementById("mySidenav").style.width = "450px";
				    document.getElementById("overlay").style.display = "block"; // Mostrar el overlay
				}

				function closeNav() {
				    document.getElementById("mySidenav").style.width = "0";
				    document.getElementById("overlay").style.display = "none"; // Ocultar el overlay
				}

			    // Eventos para el sidenav
			    document.querySelector(".closebtn").addEventListener("click", closeNav);
			    document.querySelector("[onclick='openNav()']").addEventListener("click", openNav);
		        </script>
		       
    </body>
</html>
